$primary-colour1:  #7dc2af;
$primary-colour2: #2c9db9;
$secondary-colour1: #fe4741;
$orange1: #df6c4f;

// Content - middle section 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3rem;
    font-size: 3rem;
    text-shadow: 2px 2px $secondary-colour1;
    background-image: linear-gradient(45deg, $primary-colour1, $primary-colour2);

    img {
        border-radius: 50%;
        width: 50%;
        border: solid $orange1 0.5rem;
    }
}

// Media for desktop/tablet

@media screen and (min-width: 870px) {
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 4rem;

        img {
            width: 20%;
        }
    }
}