$primary-colour1:  #7dc2af;
$primary-colour2: #2c9db9;
$secondary-colour1: #fe4741;
$orange1: #df6c4f;

// Content - middle section - mobile first

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px $secondary-colour1;

    h1 {
        font-size: 6rem;
    }

    img {
        border-radius: 50%;
        width: 50%;
        border: solid $orange1 0.5rem;
    }
}

// Media for tablets

@media screen and (min-width: 501px) and (max-width: 933px){
    
    .container {
        
        .content {
            img {
                // width: 45%
                max-width: 400px;
            }

            h1 {
                font-size: 7rem;
            }
        }
    }
}

// Media for desktop view
@media screen and (min-width: 934px) {
    
    .content {

        img {
            max-width: 450px;
        }

        h1 {
            font-size: 6rem;
        }
    }
}