$secondary-colour1: #fe4741;

// Project slider with input type radio
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .background-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        transition: 0.5s;
        transition-delay: 0s;
        z-index: 1;
        margin-bottom: 2.5rem;
        clip-path: circle(0px at center);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slider-content {
            position: relative;
            max-width: 800px;      
            
            h1 {
                font-size: 3rem;
                color: #f0f8ff;
                text-shadow: white -7px 8px 6PX;
                
            }

            p {
                color: #f0f8ff;
                font-weight: 600;
                font-size: 1.2rem;
                margin: 1rem;
                padding-bottom: 1.5em;
                padding-top: 1.5rem;
                background: rgba(0, 0, 0, 0.71);
                text-shadow: #fe4741 1px 9px 6px;
            }

            a {
                background: rgba(109, 79, 79, 0.342);
                text-decoration: none;
                color: white;
                font-size: 1.2rem;

                &:hover {
                    background-color: rgb(0, 0, 0);
                }
            }
        }
    }

    input[type="radio"] {
        z-index: 1000;
        margin: 5px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        height: 2rem;
        width: 5%;
        border: 0;
    }

    input[type="radio"]:checked + .background-img {
        z-index: 10;
        clip-path: circle(2000px at center);
        transition-delay: 0.50s;
    } 
}

// For tablet and desktop views
@media screen and (min-width: 1000px) {
    .slider {
        .background-img {
            .slider-content {
                max-width: 2000px;

                h1 {
                    font-size: 4rem;
                    padding-bottom: 3rem;
                }
    
                p {
                    font-size: 1.3rem;                                   
                }
    
                a {
                    font-size: 1.5rem;
                }
            }

        }

        input[type="radio"] {
            width: 4%;
        }
    }
}

