@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$primary-colour1:  #7dc2af;
$primary-colour2: #2c9db9;
$secondary-colour1: #fe4741;
$secondary-colour2: #c38d9d;
$orange1: #df6c4f;
$purple1: #551a8b;

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

// Navbar styling
#navbar-desktop {
    display: flex;
    justify-content: center;
    background-color: #c38d9d;
    padding: 0;

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin: 1rem;

        li {
            list-style: none;
            display: none;

            a {
                text-decoration: none;
                color: $purple1;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
}

#navbar-mobile {
    display: flex;
    justify-content: center;
    background-color: #c38d9d;
    padding: 0;

    .nav-toggle {
        position: absolute;
        cursor: pointer;
        right: 0;
        margin: 0.5rem 0.5rem 0 0;
        padding: 0.5rem 0.5rem 0.25rem 0.5rem;
        border: 2px solid rgb(87, 87, 87);
        border-radius: 15px;
        
    }

    .icon {
        color: rgb(82, 81, 81);
        font-size: 2rem;
    }

    .cross {
        display: none;
        padding: 0.20rem 0.25rem 0.25rem 0.20rem;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin: 1rem;

        li {
            list-style: none;
            display: none;

            a {
                text-decoration: none;
                color: $purple1;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
    
    .nav-checkbox {
        display: none;
    }

    #nav-check:checked ~ ul.nav-list li {
        display: block;
        border-radius: 30px;
        width: 125px;
        padding: 0 1rem;
        text-align: center;
        background-image: linear-gradient(to right, $primary-colour1, $secondary-colour2);
        background-size: 1rem;
        background-position: right;
        transition: background-position 2s;

        &:hover {
            background-position: left;
        }

        a:hover {
            color: white;
        }

        &.active {
            background: $primary-colour1;
        }
    }

    #nav-check:checked ~ label.nav-toggle .cross {
        display: block;
    }

    #nav-check:checked ~ label.nav-toggle .menu {
        display: none;
    }
}

// Content - middle section 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3rem;
    font-size: 3rem;
    text-shadow: 2px 2px $secondary-colour1;
    background-image: linear-gradient(45deg, $primary-colour1, $primary-colour2);

    img {
        border-radius: 50%;
        width: 50%;
        border: solid $orange1 0.5rem;
    }
}

// Footer - icons

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, $secondary-colour1, $secondary-colour2);
    height: 15vh;

    .socials {
        margin: 0 1.5rem;
        padding: 1rem;
        font-size: 3rem;
    }
    .socials:any-link {
        color: black;
    }

    .socials:hover {
        color: #d6d6d6;
    }
}

// Media for desktops

@media screen and (min-width: 870px) {
    #navbar-desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 15vh;

        .nav-list {
            flex-direction: row;
            
            li {
                display: block;
                padding: 0.5rem;
                text-align: center;
                width: 7rem;
                border-radius: 30px;
                background-image: linear-gradient(to right, $primary-colour1, $secondary-colour2);
                background-size: 1rem;
                background-position: right;
                transition: background-position 2s;

                &:hover {
                    background-position: left;
                    cursor: pointer;
                }
                              
                a:hover {
                    color: #ffffff;
                }

                &.active {
                    background: $primary-colour1;
                }

            }          
        }
    }
    #navbar-mobile {
        display: none;
    
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 4rem;

        img {
            width: 20%;
        }
    }
}

// Media for desktop view

// @media screen and (min-width: 1200px) {
    
//     .content {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         height: 100%;
//         font-size: 4rem;
//     }
//  }

